@import "../../App.scss";

.profilePost {
  height: fit-content;
  width: 100%;
  margin: 20px 0;
  border: 1px solid $brand-color;
  padding: 10px;
  border-radius: 1px;
  @include flexSpaceBetween(column);

  .profilePostMain {
    @include flexSpaceBetween(row);
    width: 100%;

    .profileMap {
      height: 200px;
      width: 40%;
      border-radius: 1px;
    }

    #profilePostContent {
      @include flexSpaceAround(column);
      width: 60%;
      height: fit-content;
      max-height: 200px;

      h1 {
        font-size: 2.5em;
        font-family: $header-font;
        color: $brand-color-dark;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 1.3em;
        font-family: $header-font;
        color: $brand-color;
      }

      button {
        width: 80%;
        height: 40px;
        border: 1px solid $brand-color;
        border-radius: 1px;
        color: $brand-color-dark;
        font-size: 1em;
        margin: 15px;
        background: #fff;
      }
    }
  }

  #profilePostContent {
    height: fit-content;
    width: 100%;
    padding: 20px;
    @include flexSpaceBetween(column);
  }

  .open {
    display: block !important;
  }

  .closed {
    display: none !important;
  }
}