@import '../../App.scss';

#imageScrollDiv {
    // width: fit-content;
    width: 80%;
    height: 200px;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0;

    img {
        display: inline-block;
        max-height: 100%;
        margin-right: 5px;
    }

}