@import '../../App.scss';

#imageScrollDiv {
    // width: fit-content;
    max-width: 100%;
    height: 200px;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-top: 0;
    // object-fit: none;

    img {
        display: inline-block;
        max-height: 100%;
        margin-right: 5px;
    }

}