@import "../../App.scss";

.sidebar {
    // display: none;
    @include flexSpaceBetween(column);
    justify-content: flex-start;
    height: 100vh;
    width: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    align-items: flex-start;

    &:focus {
        outline: none;
    }

    #sideBarTitle {
        // position: absolute;
        // top: 0;
        height: 50%;
        align-items: center;
        // justify-content: flex-start;
        align-items: center;
        margin-left: 2px;

        #menuIcon {
            display: none;
        }

        h1 {
            font-size: 2.5em;
            color: $accent-color;
            font-family: $content-font;
            letter-spacing: 7px;
            margin-left: 4px;
            @include flexCenter(row);
            align-items: flex-end;

            &:hover {
                cursor: pointer;
            }

            img {
                height: 65px;
                margin-right: 5px;
            }

            span {
                color: $brand-color-dark;
                line-height: 0.75;
            }
        }

        #profileInfo {
            margin: 20px 0;
            @include flexCenter(column);
            width: 100%;

            @media screen and (max-width: $break-mobile) {
                margin: 10px 0;
            }

            //   display: none;
            #profilePicDiv {
                height: 85px;
                width: 85px;
                border-radius: 50%;
                @include flexCenter(column);
                margin-bottom: 10px;

                img {
                    height: 75px;
                    width: 75px;
                    border-radius: 50%;
                    // margin-bottom: 10px;
                }
            }

            h3 {
                font-size: 0.8em;
                color: $brand-color-dark;
                margin-top: 20px;
            }

            h4 {
                font-size: 1.6em;
                color: $brand-color;
                margin-bottom: 20px;

                @media screen and (max-width: $break-mobile) {
                    margin-bottom: 10px;
                    font-size: 1.4em;
                }
            }

            button {
                border: 1px solid $brand-color;
                height: 1.9em;
                width: 100%;
                font-size: 1em;
                background-color: rgba(255, 255, 255, 0.1);
                color: $brand-color-dark;
                margin-bottom: 10px;

                &:hover {
                    cursor: pointer;
                    @extend %button-hover;
                }
            }

            #openProfile {
                background-color: $brand-color-dark;
                color: rgba(255, 255, 255, 0.7);

                &:hover {
                    @extend %button-hover;
                }
            }
        }
    }

    #toggleMenuIcon {
        height: 5%;
        width: calc(100% + 5px);
        margin-left: -5px;
        // margin-left: 15px;
        color: $brand-color-dark;
        padding-right: 5px;
        @include flexCenter(row);
        justify-content: flex-start;
        // background-color: $brand-color-dark;
        // border-top: 1px solid $brand-color-dark;
        // border-bottom: 1px solid $brand-color-dark;

        &:hover {
            background-color: $brand-color-dark;
            color: $white-color;
            // border-top: 1px solid $brand-color-dark;
            // border-bottom: 1px solid $brand-color-dark;
        }

        i {
            padding-left: 10px;
            font-size: 34px !important;
        }
    }

    .menuItems {
        width: 95%;
        height: 46%;
        padding-bottom: 4%;
        @include flexSpaceBetween(column);

        .iconDiv {
            @include flexSpaceBetween(row);
            width: 100%;
            height: 150px;
            padding-left: 20px;
            position: relative;

            i {
                color: $brand-color-dark;

                &:hover {
                    cursor: pointer;
                    // @extend %button-hover;
                    // color: $accent-color;
                }
            }

            .notifications {
                @include flexSpaceBetween(row);
                width: 100%;

                #notificationsIcon {
                    width: fit-content;
                    position: relative;

                    #notify {
                        height: 10px;
                        width: 10px;
                        background-color: rgb(219, 76, 76);
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 10000;
                        border-radius: 50%;
                    }
                }
            }



            button {
                border: 1px solid $brand-color;
                height: 1.9em;
                width: 160px;
                font-size: 1em;
                background-color: rgba(255, 255, 255, 0.1);
                color: $brand-color-dark;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    cursor: pointer;
                    @extend %button-hover;
                }
            }


            select,
            input {
                height: 1.7em;
                width: 160px;
                margin-left: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                color: $brand-color-dark;
                text-align: center;
                border: 1px solid $brand-color;
                border-radius: 1px;
                font-size: 1.1em;
                font-family: $content-font;

                &:hover {
                    @extend %button-hover;
                }
            }

            select {
                text-align-last: center;

                &:hover {
                    cursor: pointer;
                    // @extend %button-hover;
                }
            }

            input {
                height: 1.5em;

                &::placeholder {
                    color: $brand-color;
                }
            }
        }

        #notificationsPanel {
            width: 150px;
            height: 33%;
            position: absolute;
            padding: 10px 5px;
            top: 58%;
            right: 7px;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;
            background-color: rgba(255, 255, 255, 0.4);
            color: $brand-color-dark;
            z-index: 100000;

            h1 {
                border-bottom: 1px solid $brand-color;
                margin-bottom: 10px;
            }

            button {
                border: 1px solid $brand-color;
                height: 1.7em;
                width: 140px;
                font-size: 0.9em;
                background-color: $brand-color;
                color: $white-color;
                font-family: $content-font;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 5px;

                &:hover {
                    cursor: pointer;
                    @extend %button-hover;
                }
            }
        }

        #searchIconDiv {
            // position: relative;
            // background-color: red;

            #countrySearchResults {
                position: absolute;
                top: 63%;
                right: 0;
                max-height: 150px;
                width: 160px;
                overflow-y: auto;
                z-index: 100000;
                background-color: #fff;
                font-size: 1.1em;
                opacity: .9;

                p {
                    padding: 3px;
                    color: $brand-color-dark;
                }

                p:hover {
                    background-color: $brand-color;
                    color: $white-color;
                    cursor: pointer;
                }
            }
        }
    }

    .open {
        display: inline-block;
    }

    .closed {
        display: none !important;
    }

    #empty {
        height: 30%;
    }
}

@keyframes openSidebar {
    from {
        width: 44px;
    }

    to {
        width: 216px;
    }
}

@keyframes closeSidebar {
    from {
        width: fit-content;
    }

    to {
        width: 0;
    }
}

#sideNav {
    background-color: $white-color;
    opacity: 0.9;
    color: $brand-color-dark;
    font-family: $content-font;
    @include flexCenter(column);

    .navText {
        color: $brand-color-dark !important;
    }

    #toggleContainer {
        width: 100%;
    }

    #toggle {
        width: 100%;
        background-color: $brand-color;
        float: left;
    }

    #icon {
        color: $brand-color;
        font-size: 3em;
    }

    .sidenav---navtext---1AE_f {
        color: $brand-color-dark;
        font-size: 1.8em;
    }

    input {
        height: 1.8em;
    }
}