@import '../../App.scss';

#mapLegend {
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 1000;
    opacity: .9;
    // width: 0 !important;

    @media screen and (max-width: $break-tablet) {
        bottom: 0;
        right: 0;
    }

    &.hide {
        right: 0;
        width: 0 !important;

        #legendContainer {
            width: 0;
        }

        #legendTabs {
            button {
                display: none;
            }
        }
    }

    #legendSlideIcon {
        height: 200px;
        width: 44px;
        position: absolute;
        bottom: 0px;
        left: -44px;
        opacity: .9;
        background-color: #fff;
        @include flexCenter(column);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        // border: 1px solid $brand-color-dark;
        // background-color: $brand-color;
        color: $brand-color-dark;

        i {
            font-size: 30px;
        }

        &:hover {
            cursor: pointer;
        }

        @media screen and (max-width: $break-tablet) {
            height: 160px;
        }
    }

    #legendTabs {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;

        button {
            height: 30px;
            width: 80px;
            border: none;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            background: rgb(221, 221, 221);
            font-family: $content-font;
            font-size: 1em;
            color: $brand-color-dark;

            &:hover {
                cursor: pointer;
            }
        }

        .focused {
            background: rgba(255, 255, 255, 1);

            &:hover {
                cursor: default;
            }
        }
    }

    #legendContainer {
        background: rgba(255, 255, 255, 1);
        border-radius: 3px;
        border-top-left-radius: 0px;
        color: $brand-color-dark;
        height: 200px;
        width: 250px;
        overflow-y: auto;
        overflow-x: hidden;

        @media screen and (max-width: $break-tablet) {
            height: 160px;
            width: 200px;
        }



        #legendFriendsTab {
            width: 100%;
            height: 100%;
            margin-top: 5px;

            h3 {
                font-size: 1.3em;
                padding: 8px;
            }

            #toggleAllFriends {
                border-bottom: 1px solid $brand-color-dark;
                @include flexSpaceBetween(row);

                .react-switch {
                    margin-left: 7px;
                }

                p {
                    margin-right: 10px;
                    font-weight: bold;
                }
            }

            &>div {
                position: relative;
                height: 40px;
                @include flexCenter(row);



                .legendFriend {
                    opacity: .4;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                }

                p {
                    z-index: 10000;
                    color: $brand-color-dark !important;
                }

                img {
                    max-height: 30px;
                    width: 30px;
                    margin-right: 10px;
                    border-radius: 50%;
                    z-index: 10000;
                }



                .legendFriendInfo {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include flexSpaceBetween(row);

                    .react-switch {
                        margin-left: 10px;
                    }

                    p {
                        font-size: 1em;

                        &:hover {
                            cursor: pointer;
                            color: $white-color;
                        }

                        @media screen and (max-width: $break-tablet) {
                            font-size: .8em;
                        }
                    }

                    .colorSwatch {
                        height: 25px;
                        width: 25px;
                        // border: 2px solid white;
                        opacity: 1;
                        margin-right: 10px;
                        @include flexCenter(row);

                        i {
                            margin-top: 3px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }


        #legendFindTab {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input {
                height: 1.7em;
                width: 90%;
                background-color: rgba(255, 255, 255, 0.5);
                color: $brand-color-dark;
                text-align: center;
                border: 1px solid $brand-color;
                border-radius: 2px;
                font-size: 1.1em;
                font-family: $content-font;
                margin: 5px 0;

                @media screen and (max-width: $break-tablet) {
                    height: 1.2em;
                    font-size: 1em;
                }
            }

            .userSearch {
                @include flexSpaceBetween(row);
                height: 30px;
                width: 80%;
                margin: 3px 0;

                @media screen and (max-width: $break-tablet) {
                    font-size: .9em;
                    height: 25px;
                    width: 90%;
                }

                button {
                    height: 30px;
                    width: 35%;
                    border: none;
                    background: $brand-color-dark;
                    font-family: $content-font;
                    font-size: .8em;
                    color: $white-color;
                    border-radius: 2px;

                    @media screen and (max-width: $break-tablet) {
                        height: 25px;
                        font-size: .75em;
                        width: 40%;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .closed {
        display: none !important;
    }

    .open {
        display: block;
    }


}