$dark-color: #011c26;
$brand-color: #96c6d9;
$brand-color-dark: #0868a3;
$white-color: rgb(250, 250, 250);
$accent-color:rgb(80, 153, 80);

$header-font: 'Space-mono',
monospace;
$content-font: 'Karla',
sans-serif;

$break-mobile: 400px;
$break-tablet: 728px;
$break-desktop: 998px;

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexSpaceBetween($direction) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexSpaceAround($direction) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: $direction;
}

body {
    font-family: $header-font;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
}