$dark-color: #011c26;
$brand-color: #96c6d9;
$brand-color-dark: #0868a3;
$white-color: rgb(250, 250, 250);
$accent-color:rgb(80, 153, 80);

$header-font: 'Space-mono',
monospace;
$content-font: 'Karla',
sans-serif;

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}